<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
        background-image: url("/img/about.jpg");
        background-size: 100% 100%;
        }
        .about p{
         color:brown;
         font-size:large;
            font-weight:500;
            font-family:URW Chancery L, cursive ;
            margin-left: 30px;
            margin-top: 20px;
        }
    </style>
</head>
<body>
    <div class ="about">
    <p> About us</p>
    </div>
</body>
</html>